body{
padding: 0;
margin: 0;
}

section{
 height: 100vh;
 display: flex;
 align-items: center;
 background: linear-gradient(90deg, rgba(224, 252, 175, 0.925)0%, 
rgb(207, 165, 192) 100%);

}

.box{
height: 500px;
width: 350px;
position: absolute;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 0;
}
.cat{
  position: relative;  
  top: 150px;
  left: 50px;
}
.face{
   background-color:#3b3731 ; 
   height: 90px;
   width: 150px;
   border-radius: 38px;
}
.ear1, .ear2{
    width: 0;
    height: 0;
    border-bottom: 50px solid #3b3731;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    z-index: -1;
}
.ear1{
  bottom: 35px;
  transform: rotate(-30deg);
}

.ear2{
  bottom: 85px; 
  left: 110px; 
  transform: rotate(30deg);
}

.inner1{
    width: 0;
    height: 0;
    border-bottom: 50px solid #a6776e;
    border-left: 25px solid transparent;
    right: 25px;
    position: relative;
}

.inner2{
    width: 0;
    height: 0;
    border-bottom: 50px solid #a6776e;
    border-right: 25px solid transparent;
    position: relative;
}

.eye1, .eye2{
    background-color: #9e8b4c9c ;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}

.eye1{
    bottom: 75px;
    left: 30px;
}

.eye2{
    bottom: 105px;
    left: 90px;
}

.eye1-1{
    background-color: #21201cda;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    top:3px ;
    left: 3px;
}
.nose{
    height: 0;
    width: 0;
    border-top: 8px solid #c69a91;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    bottom: 110px;
    left: 68px;
}

.l1, .l2{
    background-color: #c69a91;
    height: 8px;
    width: 1px;
    position: relative;
}

.l1{
    transform: rotate(45deg);
    right: 4px;
    bottom: 1.5px;
}

.l2{
    transform: rotate(-45deg);
    bottom: 10px;
    left: 3.5px;
}

.body{
    background-color:#3b3731; 
    height: 120px;
    width: 120px;
    position: relative;
    left: 30px;
    bottom: 5px;
    border-radius: 0 64px 0 0;
}

.paw1, .paw2{
    background-color:#3b3731; 
    height: 10px;
    width: 22px;
    position: relative;
    border-radius: 0px  0px 10px 12px;
}

.paw1{
    top: 120px;
    left: 0px;
}

.paw2{
    top: 110px;
    left: 50px;
}

.tail{
    background-color:#3b3731; 
    width: 100px;
    height: 20px;
    position: relative;
    top: 80px;
    left: 100px;
    border-radius: 0 20px 20px 0;
}

.shadow{
    background-color: rgba(41, 41, 41, 0.386);
    height: 30px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 13px;
    left: 12px;
    z-index: -1;
}